<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/za/css/materialize.min.css">
    <link rel="stylesheet" href="/za/css/style.css">
    <title>Error</title>
</head>
<body>
    <div class="container katikati">
        {{{body}}}
    </div>

    <script src="/za/js/materialize.min.js"></script>
</body>
</html>