<h3><i class="fas fa-book-reader"></i>StoryBooks</h3>
<div class="section">
    <p class="lead">create public and private stories from your life</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/za/auth/google" class="btn red darken-2">
        <i class="fab fa-google left"></i>
        {{name}} with google
    </a>
</div>